audio::-webkit-media-controls-play-button{
    display: none;
}
html{
    font-size: 62.5%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0rem;
    margin: 0rem; 
}
.whole{
    width: 33rem;
    box-shadow: 1rem 1rem 0.9rem rgba(0,0,0,0.4);
    border-radius: 2.5rem;
   height: 57rem;
    background-color: #173459;
}
.playing{
    position: relative;
    top: 1rem;
    padding: 2rem;
    text-align: center;
    color: white;
    animation: playinga 2s infinite alternate;
    text-shadow: 0.5rem  0.5rem  0.4rem rgba(0,0,0,0.5);
}
@keyframes playinga {
    33%{
        color:lightyellow;
    }
    66%{
        color: lightseagreen;
    }
    100%{
        color: lightblue;
    }
}
img{
    
    width: 20rem;
    height: 20rem;
    margin-left: 22%;
    border-radius: 12rem;
    box-shadow: 0.5rem  0.5rem  0.4rem rgba(0,0,0,0.5);
    margin-bottom: 2rem;
  
}

.p1{
    text-align: center;
    color: white;
    text-shadow: 0.4rem  0.4rem  0.3rem rgba(0,0,0,0.5);
    margin: 0rem;
    font-size: 2.4rem;
}
.p2{
    text-align: center;
    color: white;
    text-shadow: 0.4rem  0.4rem  0.3rem rgba(0,0,0,0.5);
    margin-top: 0.8rem;
    font-size: 1.4rem;

}
.control{
    margin-left: 9rem;
}
.controlskip{
    margin: 1.2rem;
    background-color: #173459;
    border: none;
    color:white;
    
}
.controlskip:hover{
    color:white;
    opacity: 0.5;
}
.playbutton{
    margin: 2rem;
    background-color:yellow;
    width: 4rem;
    height: 4rem;
    border: none;
    box-shadow: 0.4rem  0.4rem  0.3rem rgba(0,0,0,0.5);
    border-radius: 2rem;
    color: rgb(17, 133, 234);
}
.playbutton:hover{
    background-color:lightcoral;
    color: green;
    transition-duration: 0.5s;
    
}
.controlnext{
    margin: 1.2rem;
    
    background-color: #173459;
    border: none;
    color: white;
}
.controlnext:hover{
    color:white;
    opacity: 0.5;
}
audio{
    margin-left: 3.5rem;
    margin-right: 5rem;
    opacity: 1;
    
    width: 26.5rem;
    height: 4rem;

}
.p1last{

    font-size: 1.5rem;
    margin-left: 4rem;
    margin-right: 1rem;
    color: white;
}
.p11{
    display: inline;
   
    color:yellow;
    text-shadow: 0.4rem  0.4rem  0.3rem rgba(0,0,0,0.5);
    margin: 0rem;
    font-size: 1.7rem;
}

@media screen and (min-width:350px) {
    html{
      font-size: 62.5%;
    }
  }
  @media screen and (min-width:300px) and (max-width:350px) {
    html{
      font-size: 59.5%;
    }
    
  }
  @media screen and (min-width:300px) and (max-width:350px) {
    html{
      font-size: 51%;
    }
    
  }
  @media screen and (min-width:250px) and (max-width:300px) {
    html{
      font-size: 41.5%;
    }
   
  }
  @media screen and (min-width:200px) and (max-width:250px) {
    html{
      font-size: 31.5%;
    }
   
  }
  @media screen and (min-width:100px) and (max-width:200px) {
    html{
      font-size: 21.5%;
    }
    
  }

